div
  div(ng-if='!profile.user.complete')
  md-toolbar(layout='row' layout-align='center', layout-padding)
    h1.md-display-1(style='color: whitesmoke') Set up your profile
  md-content(layout='row' layout-align='center', layout-padding)
    form(name='profileForm', flex='40', style="text-align: center")
      md-content
        md-icon.header-icon-36 person
        span.md-display-1 Personal Info
        md-input-container.md-block
          label First Name
          input(
            name='firstName',
            ng-model='profile.user.firstname',
            minlength='2',
            ng-required='true'
          )
          //div(ng-messages='profileForm.firstName.$error' ng-show='profileForm.firstName.$dirty')
          //  div(ng-message='required') This field is required
          //  div(ng-message='minlength') Name is too short.

        md-input-container.md-block
          label Last Name
          input(
            name='lastName',
            ng-model='profile.user.lastname',
            minlength='2',
            ng-required='true'
          )
          //div(ng-messages='profileForm.lastName.$error' ng-show='profileForm.lastName.$dirty')
          //  div(ng-message='required') This field is required
          //  div(ng-message='minlength') Name is too short.

      md-content
        md-icon.header-icon-36 home
        span.md-display-1 Current Residence
        md-input-container.md-block
          label Address
          input(
            name='address',
            ng-model='profile.user.address'
            ng-required='true'
          )

        div(layout='row', layout-align='space-between center')
          md-input-container(flex='45')
            label City
            input(
              name='city',
              ng-model='profile.user.city',
              required,
              minlength='4',
              ng-required='true'
            )

          md-input-container(flex='45')
            label County
            input(
              name='county',
              ng-model='profile.user.county',
              minlength='4',
              ng-required='true'
            )

        div(layout='row', layout-align='space-between center')
          md-input-container(flex='45')
            label Zip Code
            input(
              name='zipcode',
              ng-model='profile.user.zipcode',
              minlength='5',
              ng-required='true'
            )

          md-input-container(flex='45')
            label Country
            input(
              name='country',
              ng-model='profile.user.country',
              minlength='4',
              ng-required='true'
            )

      md-content
        div(layout='row', layout-align='space-around center')
          span.md-display-1 Are you a doctor?
          md-switch(ng-model='profile.user.isDoctor')
            | {{ profile.user.isDoctor ? 'Yes' : 'No' }}

      div(ng-if='profile.user.isDoctor')
        md-content
          div(layout='row', layout-align='space-around center')
            md-input-container(flex='45')
              label Field of Practice
              input(
                name='field',
                ng-model='profile.user.field',
                minlength='6',
                ng-required='true'
              )

            md-input-container(flex='45')
              label Practice Location
              input(
                name='location',
                ng-model='profile.user.location',
                minlength='5',
                ng-required='true',
                placeholder='E.g Princeton, IN'
              )

      md-button.md-primary.mt-size-20(
        ng-click='profile.setup()',
        ng-disabled='profileForm.$invalid'
      ) Finish Profile Setup
