$primary: rgb(3,169,244);
$accent: rgb(224,64,251);
$warn: rgb(255,87,34);
$altPrimaryRed: #f44336;
$lightBlue: #03A9F4;
$openSlot: #66BB6A;

$color-names: primary accent warn;
$color-values: $primary $accent $warn;

* {
  @for $i from 1 through length($color-values) {
    $colorName: nth($color-names, $i);
    $colorValue: nth($color-values, $i);

    &.bg-#{$colorName} {
      background-color: $colorValue;
      color: white;
    }

    &.text-#{$colorName} {
      color: $colorValue;
    }
  }
}

