@import "colors";
@import "compass";
@import "../utils/center-element";

html, body {
  background-color: #f3f3f3;
}

.profile-picture {
  & img {
    height: 80%;
    width: 30%;

    border-radius: 50%;
    border: 2px solid $primary;

    position: absolute;
    bottom: -40%;
    z-index: 1;
    @include center-element(true, false);
  }
}

.fc-event {
  border-radius: 0;
}

form[name=profileForm] {
  md-content {
    overflow: hidden;
  }
}

md-backdrop {
  height: 100vh;
}

md-content {
  background-color: transparent;
}

.lr-fixed-fab-btn {
  position: fixed;
  bottom: 1%;
  right: 3%;
}

.bg-white {
  background: white;
}