$xsMaxWidth: 599px;

@for $i from 1 through 12 {
  .height-#{5 * $i} {
    height: 5vh * $i;
  }
}

@for $i from 1 through 5 {
  .width-#{20 * $i} {
    width: 20% * $i;
  }
}

md-card, [md-card] {
  @media screen and (max-width: $xsMaxWidth) {
    margin: 0;
  }
}