$successToastColor: #4CAF50;
$errorToastColor: #F44336;
$infoToastColor: #03A9F4;

md-toast.md-success-toast-theme {
  .md-toast-content {
    background-color: $successToastColor;
  }
}

md-toast.md-error-toast-theme {
  .md-toast-content {
    background-color: $errorToastColor;
  }
}

md-toast.md-info-toast-theme {
  .md-toast-content {
    background-color: $infoToastColor;
  }
}