@import 'compass/typography';

@for $i from 1 through 4 {
  $sizeX12: 12 * $i;
  $sizeX10: 10 * $i;
  .mt-size-#{$sizeX12} {
    font-size: #{$sizeX12}px;
    font-weight: 300;
  }
  .mt-size-#{$sizeX10} {
    font-size: #{$sizeX10}px;
    font-weight: 300;
  }

  .header-icon-#{$sizeX12} {
    font-size: #{$sizeX12}px;
    width: #{$sizeX12}px;
    height: #{$sizeX12}px;
    padding: #{$i}px;
    vertical-align: bottom;
  }
}