md-sidenav.md-sidenav-left.md-whiteframe-z2.full-screen-height(
    md-component-id='doctor-list',
    layout='column',
    md-is-locked-open='$mdMedia("gt-sm")'
)
    md-content(layout='row', layout-align='center center')
        md-input-container(flex='90', md-no-float, style='margin-bottom: 0')
            input(type='text', ng-model='home.fullnameSearchField', placeholder='Search by name')
    md-list
        md-list-item.animate-list(ng-repeat='doctor in home.doctors | filter: {fullname: home.fullnameSearchField}', style="height: 5.625rem")
            md-button(
                layout='row',
                layout-align='space-around center',
                layout-margin,
                ng-click='home.selected.doctor=doctor; $sidenav("doctor-list").close()'
            )
                img(flex='20', src='resources/images/default-profile-image.png', style="border-radius: 50%")
                div(flex='75', style='text-align: left') {{ doctor.firstname }} {{ doctor.lastname }}
