@import 'compass';

@mixin center-element($horizontal: true, $vertical: true) {
  position: absolute;
  @if($horizontal && not $vertical) {
    left: 50%;
    @include transform(translateX(-50%));
  }

  @if($vertical && not $horizontal) {
    top: 50%;
    @include transform(translateY(-50%));
  }

  @if($vertical && $horizontal) {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

@mixin full-height($screenHeight: false) {
  @if $screenHeight {
    height: 100vh;
  }@else {
    height: 100%;
    @include min-height(100%);
  }
}