/* line 3, ../sass/utils/_center-element.scss */
.center-element {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 7, ../sass/utils/_center-element.scss */
.center-element-x {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 11, ../sass/utils/_center-element.scss */
.center-element-y {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 3, ../sass/utils/_full-height.scss */
.full-height {
  height: 100%;
  min-height: 100%;
}

/* line 7, ../sass/utils/_full-height.scss */
.full-screen-height {
  height: 100vh;
}

/* line 1, ../sass/utils/_ng-cloak.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 1, ../sass/utils/_bg-transparent.scss */
.bg-transparent {
  background-color: transparent;
}

/* line 4, ../sass/general/_layout.scss */
.height-5 {
  height: 5vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-10 {
  height: 10vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-15 {
  height: 15vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-20 {
  height: 20vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-25 {
  height: 25vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-30 {
  height: 30vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-35 {
  height: 35vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-40 {
  height: 40vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-45 {
  height: 45vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-50 {
  height: 50vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-55 {
  height: 55vh;
}

/* line 4, ../sass/general/_layout.scss */
.height-60 {
  height: 60vh;
}

/* line 10, ../sass/general/_layout.scss */
.width-20 {
  width: 20%;
}

/* line 10, ../sass/general/_layout.scss */
.width-40 {
  width: 40%;
}

/* line 10, ../sass/general/_layout.scss */
.width-60 {
  width: 60%;
}

/* line 10, ../sass/general/_layout.scss */
.width-80 {
  width: 80%;
}

/* line 10, ../sass/general/_layout.scss */
.width-100 {
  width: 100%;
}

@media screen and (max-width: 599px) {
  /* line 15, ../sass/general/_layout.scss */
  md-card, [md-card] {
    margin: 0;
  }
}

/* line 1, ../sass/general/_helpers.scss */
.disable-events {
  pointer-events: none;
}

/* line 5, ../sass/general/_helpers.scss */
.default-events {
  pointer-events: all;
}

/* line 16, ../sass/general/_colors.scss */
*.bg-primary {
  background-color: #03a9f4;
  color: white;
}
/* line 21, ../sass/general/_colors.scss */
*.text-primary {
  color: #03a9f4;
}
/* line 16, ../sass/general/_colors.scss */
*.bg-accent {
  background-color: #e040fb;
  color: white;
}
/* line 21, ../sass/general/_colors.scss */
*.text-accent {
  color: #e040fb;
}
/* line 16, ../sass/general/_colors.scss */
*.bg-warn {
  background-color: #ff5722;
  color: white;
}
/* line 21, ../sass/general/_colors.scss */
*.text-warn {
  color: #ff5722;
}

/* line 5, ../sass/general/_custom.scss */
html, body {
  background-color: #f3f3f3;
}

/* line 10, ../sass/general/_custom.scss */
.profile-picture img {
  height: 80%;
  width: 30%;
  border-radius: 50%;
  border: 2px solid #03a9f4;
  position: absolute;
  bottom: -40%;
  z-index: 1;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 24, ../sass/general/_custom.scss */
.fc-event {
  border-radius: 0;
}

/* line 29, ../sass/general/_custom.scss */
form[name=profileForm] md-content {
  overflow: hidden;
}

/* line 34, ../sass/general/_custom.scss */
md-backdrop {
  height: 100vh;
}

/* line 38, ../sass/general/_custom.scss */
md-content {
  background-color: transparent;
}

/* line 42, ../sass/general/_custom.scss */
.lr-fixed-fab-btn {
  position: fixed;
  bottom: 1%;
  right: 3%;
}

/* line 48, ../sass/general/_custom.scss */
.bg-white {
  background: white;
}

/* line 6, ../sass/general/_typography.scss */
.mt-size-12 {
  font-size: 12px;
  font-weight: 300;
}

/* line 10, ../sass/general/_typography.scss */
.mt-size-10 {
  font-size: 10px;
  font-weight: 300;
}

/* line 15, ../sass/general/_typography.scss */
.header-icon-12 {
  font-size: 12px;
  width: 12px;
  height: 12px;
  padding: 1px;
  vertical-align: bottom;
}

/* line 6, ../sass/general/_typography.scss */
.mt-size-24 {
  font-size: 24px;
  font-weight: 300;
}

/* line 10, ../sass/general/_typography.scss */
.mt-size-20 {
  font-size: 20px;
  font-weight: 300;
}

/* line 15, ../sass/general/_typography.scss */
.header-icon-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  padding: 2px;
  vertical-align: bottom;
}

/* line 6, ../sass/general/_typography.scss */
.mt-size-36 {
  font-size: 36px;
  font-weight: 300;
}

/* line 10, ../sass/general/_typography.scss */
.mt-size-30 {
  font-size: 30px;
  font-weight: 300;
}

/* line 15, ../sass/general/_typography.scss */
.header-icon-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
  padding: 3px;
  vertical-align: bottom;
}

/* line 6, ../sass/general/_typography.scss */
.mt-size-48 {
  font-size: 48px;
  font-weight: 300;
}

/* line 10, ../sass/general/_typography.scss */
.mt-size-40 {
  font-size: 40px;
  font-weight: 300;
}

/* line 15, ../sass/general/_typography.scss */
.header-icon-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
  padding: 4px;
  vertical-align: bottom;
}

/* line 6, ../sass/general/_toast-themes.scss */
md-toast.md-success-toast-theme .md-toast-content {
  background-color: #4CAF50;
}

/* line 12, ../sass/general/_toast-themes.scss */
md-toast.md-error-toast-theme .md-toast-content {
  background-color: #F44336;
}

/* line 18, ../sass/general/_toast-themes.scss */
md-toast.md-info-toast-theme .md-toast-content {
  background-color: #03A9F4;
}

/* line 4, ../sass/home/_login.scss */
.banner {
  background-color: #03a9f4;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 4, ../sass/animations/_transitions.scss */
.ui-view-container {
  position: relative;
  height: 65px;
}

/* line 10, ../sass/animations/_transitions.scss */
.animate-entry.ng-enter {
  position: absolute;
  left: 0;
  right: 0;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 17, ../sass/animations/_transitions.scss */
.animate-entry.ng-enter {
  opacity: 0;
  -moz-transform: scale3d(0.96, 0.96, 0.96);
  -ms-transform: scale3d(0.96, 0.96, 0.96);
  -webkit-transform: scale3d(0.96, 0.96, 0.96);
  transform: scale3d(0.96, 0.96, 0.96);
}
/* line 22, ../sass/animations/_transitions.scss */
.animate-entry.ng-enter-active {
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 29, ../sass/animations/_transitions.scss */
ui-view.ng-enter, ui-view.ng-leave, [ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 37, ../sass/animations/_transitions.scss */
ui-view.ng-enter, [ui-view].ng-enter {
  opacity: 0;
  -moz-transform: scale3d(0.96, 0.96, 0.96);
  -ms-transform: scale3d(0.96, 0.96, 0.96);
  -webkit-transform: scale3d(0.96, 0.96, 0.96);
  transform: scale3d(0.96, 0.96, 0.96);
}
/* line 42, ../sass/animations/_transitions.scss */
ui-view.ng-enter-active, [ui-view].ng-enter-active {
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* line 47, ../sass/animations/_transitions.scss */
ui-view.ng-leave, [ui-view].ng-leave {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 52, ../sass/animations/_transitions.scss */
ui-view.ng-leave-active, [ui-view].ng-leave-active {
  opacity: 0;
  -moz-transform: translate3d(100px, 0, 0);
  -ms-transform: translate3d(100px, 0, 0);
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

/* line 5, ../sass/animations/_ngrepeat.scss */
.animate-list.ng-enter, .animate-list.ng-leave {
  -moz-transition: ease 500ms all;
  -o-transition: ease 500ms all;
  -webkit-transition: ease 500ms all;
  transition: ease 500ms all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
/* line 16, ../sass/animations/_ngrepeat.scss */
.animate-list.ng-leave.ng-leave-active, .animate-list.ng-enter {
  opacity: 0;
  width: 0;
  height: 0;
  margin: -14% 0 -14% 0;
}
/* line 24, ../sass/animations/_ngrepeat.scss */
.animate-list.ng-enter.ng-enter-active, .animate-list.ng-leave {
  opacity: 1;
  width: 100%;
  height: 100%;
  margin: 0 5% 0 0;
}
