md-toolbar.md-whiteframe-1dp(layout='row', layout-padding, layout-align='space-between center', style='position: relative')
    div.center-element.mt-size-24 MedTime
    md-button(ng-click='$sidenav("sidenav-left").toggle()')
        md-icon.mt-size-24 menu
    md-button(ng-click='logout();')
        md-icon.mt-size-24 exit_to_app