- var assetsPath = "app/node_modules"

script(src='#{assetsPath}/jquery/dist/jquery.min.js')
script(src='#{assetsPath}/moment/min/moment.min.js')
script(src='#{assetsPath}/fullcalendar/dist/fullcalendar.min.js')
script(src='#{assetsPath}/fullcalendar/dist/gcal.js')
script(src='app/build/app-bundle.js')