md-sidenav.md-sidenav-left.md-whiteframe-z2.full-screen-height(
  md-component-id='sidenav-left',
  layout='column'
)
  div.bg-primary(style='height: 125px; width: 100%; position:relative')
    div.profile-picture
      img(src='resources/images/default-profile-image.png')
  md-content(layout-padding, ui-sref='medtime.home', ng-click='$sidenav("sidenav-left").close()')
    md-icon.material-icons.md-12 home
    | Doctors
  md-content(layout-padding, ui-sref='medtime.calendar', ng-click='$sidenav("sidenav-left").close()')
    md-icon.material-icons.md-12 date_range
    | Calendar
  md-content(layout-padding, ui-sref='medtime.appointments', ng-click='$sidenav("sidenav-left").close()')
    md-icon.material-icons.md-12 schedule
    | Appointments
  md-content(layout-padding, ui-sref='medtime.profile', ng-click='$sidenav("sidenav-left").close()', ng-if="!main.user.setup")
    md-icon.material-icons.md-12 person
    | Profile Setup