- var assetsPath = '/app/node_modules'

link(rel='stylesheet', href= assetsPath + '/angular-material-icons/angular-material-icons.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href= assetsPath + '/angular-material/angular-material.min.css')
link(rel='stylesheet', href= assetsPath + '/fullcalendar/dist/fullcalendar.css')
link(rel='stylesheet', href='/style/stylesheets/mtmain.css')