doctype html

html
  head
    title MedTime
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include partials/stylesheets.jade
  body(ng-app='medTime' transition-overflow)
    .ui-view-container
      ui-view

    include partials/scripts.jade