doctype html

html
    head
        title MedTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        include partials/stylesheets.jade
    body(style='margin: 0; padding: 0')
        // Toolbar
        div(style='width: 100%; height: 80px; background-color: rgb(3,169,244); position: fixed')

        // Content
        div(style='height: 100%; max-width: 100%; display: flex; justify-content: center; align-items: center')
            div(style='text-align: center')
                i.material-icons(style='font-size: 10rem; color: #00E676') check_circle
                .mt-size-24 Appointment Verified

