.banner.height-40(hide-xs)
.full-screen-height(layout='row' layout-align='center center' layout-padding)
  md-content.bg-transparent(flex, flex-gt-sm='40')
    form(name='loginForm', ng-submit='login.login()')
      md-card(layout='column' layout-align-gt-sm='center center' layout-margin)
        md-card-content.width-80
          md-input-container.md-block
            input(type='email', placeholder='Email', ng-model='login.user.email', required, md-autofocus)
        md-card-content.width-80
          md-input-container.md-block
            input(type='password', placeholder='Password', ng-model='login.user.password', required)
        md-card-content.width-80
          md-button.md-raised.md-primary(type='submit') Log In
          md-button.md-raised(ng-click='login.signUp()') Sign Up
