div(layout='row', layout-fill, layout-align='start start')
    md-button.lr-fixed-fab-btn.md-fab(ng-click='$sidenav("doctor-list").toggle()', ng-if="!$media('gt-sm')")
        md-icon list
    div(flex='nogrow')
        include partials/doctor-list
    div(flex='grow', layout='column', layout-padding, style='position: relative')
        div.animate-entry(flex, md-whiteframe='1', ng-if='home.selected.doctor', style='background-color: white')
            .md-display-1(style='font-weight: 400') Dr. {{ home.selected.doctor.firstname}} {{ home.selected.doctor.lastname }}
            .md-subhead {{ home.selected.doctor.field }}
            .md-subhead {{ home.selected.doctor.location }}
            md-button.md-raised(ng-click='home.syncWith(home.selected.doctor)') Synchronize Calendars