@import 'compass/css3/transform';
@import 'compass/css3/transition';

.animate-list {
  &.ng-enter,
  &.ng-leave
  {
    @include transition(500ms ease all);
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
    width: 0;
    height: 0;
    margin: -14% 0 -14% 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
    width: 100%;
    height: 100%;
    margin: 0 5% 0 0;
  }
}