@import 'compass/css3/transform';
@import 'compass/css3/transition';

.ui-view-container {
  position: relative;
  height: 65px;
}

.animate-entry {
  &.ng-enter {
    position: absolute;
    left: 0;
    right: 0;
    @include transition(all .25s ease-in-out);
  }

  &.ng-enter {
    opacity: 0;
    @include transform(scale3d(0.96, 0.96, 0.96));
  }

  &.ng-enter-active {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
  }
}

ui-view, [ui-view] {
  &.ng-enter,
  &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    @include transition(all .25s ease-in-out);
  }

  &.ng-enter {
    opacity: 0;
    @include transform(scale3d(0.96, 0.96, 0.96));
  }

  &.ng-enter-active {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
  }

  &.ng-leave {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }

  &.ng-leave-active {
    opacity: 0;
    @include transform(translate3d(100px, 0, 0));
  }
}