br

// Calendar authorized
div(ng-if='calendar.user.authorized.calendar')
    div(layout='row', layout-align='center start')
        md-content.bg-white(flex='70', layout-fill, layout-padding, md-whiteframe="1")
            mt-calendar

// Calendar not initialized
// TODO: present syncing with GDocs and why
div(ng-if='!calendar.user.authorized.calendar', style='position: relative; text-align: center; height: 85vh')
    div.center-element()
        .mt-size-36
            | To offer a better experience we use
            br
            | Google Calendar
        p In order to use the application's calendar, please allow us to add a MedTime calendar to your account by by clicking the button below
        div(style="text-align: center")
            md-button.md-raised.md-primary(
                ng-click='calendar.initialize(800, 600)',
                style="display: inline-block"
            ) Sync with Google Calendar
