div(layout='row', layout-align='center start', layout-padding, layout-margin, ng-if='appointments.list.length')
    md-content(flex-gt-sm='70', flex-lt-sm='95')
        div.md-whiteframe-1dp.bg-white(
            ng-repeat='appointment in appointments.list', ng-init="doctor = appointment.doctor",
            style='margin-bottom: 12px',
            layout='row', layout-align='space-around center', layout-padding
        )
            div(flex='45')
                .mt-size-24 {{ appointments.humanTime(appointment.start) }}
            div(flex='5')
                md-icon.mt-size-24 local_hospital
            div(flex='45', style='text-align: right')
                .mt-size-20 With {{ doctor.firstname }} {{ doctor.lastname }}, {{ doctor.field }}
                .mt-size-20 At {{ appointment.location }}


// No appointments filler
div(ng-if='!appointments.list.length', style='width: 100%; height: 80vh; position: relative')
    md-content.center-element(style='text-align: center')
        .mt-size-36 There are no upcoming appointments.
        .mt-size-24
            span To schedule,&nbsp;
            a.text-primary(ui-sref='^.home', style='text-decoration: none') synchronize with a doctor
            span &nbsp;and check your calendar for available times!