md-dialog(flex='40')
    md-toolbar(style='padding-left: 10px')
        h3(style='font-weight: 300; color: whitesmoke') Event Customization
    md-content(layout='column', layout-padding)
        md-content(layout='row', layout-align='space-between center')
            md-input-container
                label Title
                input(type='text', ng-model='event.title')
            md-checkbox(
                ng-model='event.asDoctor',
                ng-if='event.user.isDoctor'
            ) Appointment Slot?
        md-content()
            div(ng-if='event.createSingleEvent()')
                | Create a single event of {{ event.selectedHours }} {{ event.pluralize(event.selectedHours, 'hour') }}
            div(ng-if='event.createMultipleEvents()')
                | Split into {{ event.eventsNumberToCreate() }} of {{ event.selectedHours }} {{ event.pluralize(event.selectedHours, 'hour') }}
            br
            md-slider-container(layout='row', layout-align='start center', layout-padding, ng-if='event.hours.min !== event.hours.max')
                md-slider.md-accent(
                    flex,
                    md-discrete,
                    ng-model='event.selectedHours',
                    min='{{ event.hours.min }}',
                    max='{{ event.hours.max }}',
                    step='0.5'
                    id='hoursSlider'
                )
        md-content
            md-checkbox(
                ng-model='event.applyRest',
                ng-show='event.showApplyRest()'
            ) Create another of {{ event.remainingHours() }} {{ event.pluralize(event.remainingHours(), 'hour') }} with the remainder?
    md-dialog-actions
        md-button.md-primary.md-no-ink(ng-click='event.apply(); event.close()') Apply
