md-dialog(flex='40')
    md-toolbar(style='padding-left: 10px')
        h3(style='font-weight: 300; color: whitesmoke') Event Editing
    md-content(layout='column', layout-padding)
        md-content(layout='row')
            md-input-container(flex='40')
                label Title
                input(type='text', ng-model='editor.event.title')
    md-dialog-actions
        md-button.md-warn.md-no-ink(ng-click='editor.apply(true);') Remove
        md-button.md-primary.md-no-ink(ng-click='editor.apply(false);') Finish
